// libs
@import './lib//normalize.css';

// global: variales, mixins, etc
@import './global/_variables.scss';
@import './global/_helpers.scss';
@import './global/_fonts.scss';

// reusable components
@import './components/_container.scss';
@import './components/_search.scss';
@import './components/_user-list.scss';
@import './components/_nav.scss';
@import './components/_button.scss';
@import './components/_sidebar.scss';
@import './components/_recommendations.scss';
@import './components/_services.scss';
@import './components/_advertisement.scss';
@import './components/_logo.scss';

// specific pages' style
@import './pages/main.scss';
@import './pages/support.scss';

body {
  font-family: 'Metropolis Regular';
  font-weight: normal;
  font-style: normal;
}

img {
  height: auto;
  max-width: 100%;
}
