$green: #87b448;
$header-border-color: #71973c;
$search-bg-color: #73993d;
$search-icon-fill: #8ebc4d;
$white: #ffffff;
$divider-color: #e0e2e6;
$font-color: #1c2534;
$service-item-color-hovered: #f4f7fb;
$service-item-title-hovered: #71973c;
$sidebar-nav-icon-fill: #c7cdd9;
$dark-grey: #59606b;
$medium-grey: #7c8695;
$light-grey: #d3d3d3;
$sidebar-footer-font-color: #b7bfcd;
$advertisement-poster-stroke: #dddddd;
