// parts specific to main page
@import './parts/_service-section.scss';
@import './parts/_header.scss';

.page-main-content {
  display: flex;
  padding-bottom: 25px;
}

.page-main-content__sidebar {
  flex-shrink: 0;
  width: 212px;
}
