.about-section {
  padding-top: 95px;
  padding-bottom: 110px;
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
}

.about-section__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: 'Metropolis Light';
  font-size: 30px;
  color: $font-color;
  text-align: center;
}

.about-section__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-section__description {
  flex-shrink: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Metropolis Light';
  font-size: 16px;
  line-height: 1.5;
  color: $medium-grey;

  &:not(:first-child) {
    margin-left: 13.3%;
  }
}

.about-section__wrapper,
.about-section__footer-wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.about-section__footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-section__footer {
  padding-top: 30px;
  padding-bottom: 25px;
}
