.services-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  border: 1px solid $divider-color;
  border-radius: 5px;
  list-style: none;
}

.services-list__item {
  width: 140px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.services-list__item-link {
  text-decoration: none;

  &:hover .services-list__item-image-wrapper {
    background-color: $service-item-color-hovered;
  }

  &:hover .services-list__item-title {
    color: $service-item-title-hovered;
  }
}

.services-list__item-title {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: $font-color;
  text-transform: capitalize;
  transition: 0.2s;
}

.services-list__item-image-wrapper {
  display: flex;
  height: 140px;
  border: 1px solid $divider-color;
  background-color: $white;
  transition: 0.2s;
}

.services-list__item-image {
  max-width: 85px;
  margin: auto;
}
