.user-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 320px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.user-list__item:not(:first-child) {
  margin-left: 20px;
}

.user-list__item:last-child {
  margin-left: 30px;
}

.user-list__user {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-right: 25px;

  &::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 6px solid $white;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
  }
}

.user-list__chat-icon {
  height: 22px;
  width: 26;
  fill: $white;
}

.user-list__notification-icon {
  height: 24px;
  width: 24px;
  fill: $white;
}

.user-list__user-avatar {
  width: 32px;
  border-radius: 3px;
}

.user-list__user-nickname {
  max-width: 151px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: $white;
}
